// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 a{
  font-family: sans-serif;
  color:gray;
}

.article{
  padding: 0.5rem;
  position:relative;
}

.article .delete{
  position: absolute;
  top: 50%;
  right: 20px;
}